<div class="grid-container">
  <div class="item1">
    <strong>🚗 Aktuelle Sensordaten</strong>
  </div>
  <div class="item2">
    <div class="SensorBarR">
      <div *ngIf="getSensorById(1) as sensor" class="sensor"> 
        <div class="progress-vertical">
          <div class="progress-fill"
              [style.height.%]="berechneProzent(sensor)">
          </div>
        </div>
      </div>
    </div>
    Sensor VL
    <br><br>
    <div *ngIf="getSensorByPosition('Vorne Links') as sensor">
      Höhe: <strong style="display: inline-flex; width: 70px;">{{ sensor.hoehe }}</strong> mm
    </div>
  </div>
  <div class="standardButton">
    <button [ngClass]="{'aktiv': istAktiverModus('standard')} " (click)="setzePruefmodus('standardPruefung')">Standard</button>
  </div>  
  <div class="item4">
    <div class="SensorBarL">
      <div *ngIf="getSensorById(2) as sensor" class="sensor"> 
        <div class="progress-vertical">
          <div class="progress-fill"
              [style.height.%]="berechneProzent(sensor)">
          </div>
        </div>
      </div>
    </div>
    Sensor VR
    <br><br>
    <div *ngIf="getSensorByPosition('Vorne Rechts') as sensor">
      Höhe: <strong style="display: inline-flex; width: 70px;">{{ sensor.hoehe }}</strong> mm
    </div>
  </div>
  <div class="comfortButton">
    <button [ngClass]="{'aktiv': istAktiverModus('comfort')} " (click)="setzePruefmodus('comfortPruefung')">Komfort</button>
  </div>
  <div class="item6">
    <div class="SensorBarR">
      <div *ngIf="getSensorById(3) as sensor" class="sensor"> 
        <div class="progress-vertical">
          <div class="progress-fill"
              [style.height.%]="berechneProzent(sensor)">
          </div>
        </div>
      </div>
    </div>
    Sensor HL
    <br><br>
    <div *ngIf="getSensorByPosition('Hinten Links') as sensor">
      Höhe: <strong style="display: inline-flex; width: 70px;">{{ sensor.hoehe }}</strong> mm
    </div>
  </div>
  <div class="sportButton">
    <button [ngClass]="{'aktiv': istAktiverModus('sport')} " (click)="setzePruefmodus('sportPruefung')">Sport</button>
  </div>
  <div class="item8">
    <div class="SensorBarL">
      <div *ngIf="getSensorById(4) as sensor" class="sensor"> 
        <div class="progress-vertical">
          <div class="progress-fill"
              [style.height.%]="berechneProzent(sensor)">
          </div>
        </div>
      </div>
    </div>
    Sensor HR
    <br><br>
    <div *ngIf="getSensorByPosition('Hinten Rechts') as sensor">
      Höhe: <strong style="display: inline-flex; width: 70px;">{{ sensor.hoehe }}</strong> mm
    </div>
  </div>
  <div class="offroadButton">
    <button [ngClass]="{'aktiv': istAktiverModus('offroad')} " (click)="setzePruefmodus('offroadPruefung')">Offroad</button>
  </div>
  <div class="item9">
    <strong>🎯 Warnungen</strong>
  </div>
  <div class="item10">
    Platzhalter für Warnungen und Fehlermeldungen
  </div>   
</div>